body{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 150%;
  background-color: bisque;
}

body>a{
  display: inline-block;
  background-color: aqua;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-decoration: none;
  padding: 10px;
}

header{
background-color: darksalmon;
}

/*Este es el apartado de navegación: Home - Neighborhood Walks - Walks in the Park*/
/*
li{
  display: inline-block;
  width: 300px;
}
*/

nav ul{
  display: flex;
  list-style: none;
  gap: 45px;
}

nav a{
  text-decoration: none;
  color: chocolate;
}

nav{
  display: inline-block;
  width: 80%;
  padding: 35px;
  background-color: rgb(40, 56, 56);
}

nav img{
  width: 10%;
}

h1{
  text-align: center;
  font-size: 90px;
  color:dimgrey;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main{
  background-color: rgb(241, 191, 185);
  font-size: 35px;
  color: #333;
}

main div{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

main div img{
  width: 350px;
  height: auto;
  border: 8px solid white;
  border-radius: 50%;
  object-fit: cover;
}

footer{
  background-color: #444;
  padding: 45px;
  text-align: center;
  color: white;
}

p{
  line-height: 1.5;
}

.grid{
  display: grid;
  grid-template-columns: 40% 40%;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  row-gap: 20px;
}

.flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}